// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-family-sans-serif: 'Open Sans', arial, sans-serif;
$container-lg: 600px;
$container-md: 600px;

@import "bootstrap";

body {
	text-align: center;
}